{% extends 'base.html' %}

{% block title %}The Modern Menagerie{% endblock %}

{% block content %}
<h1 class="mt-3">Our Pets</h1>
{% for msg in get_flashed_messages() %}
    <p class="fs-5">{{msg}}</p>
{% endfor %}
<div class="container text-center">
    <div class="row row-cols-3">
        {% for pet in available_pets %}
        <div class="col">
            {% if pet.photo_url %}
            <img src="{{pet.photo_url}}" alt="{{pet.name}} picture" class="img-thumbnail rounded border-black border-3">
            {% endif %}
            {% if pet.photo_file %}
            <img src="{{pet.photo_file}}" alt="{{pet.name}} picture" class="img-thumbnail rounded border-black border-3">
            {% endif %}
            <br>
            <span class="fs-3"><a href="/{{pet.id}}">{{pet.name}}</a> is <b>AVAILABLE</b>.</span>
            <br>
        </div>
        {% endfor %}
    </div>
    <hr class="border border-black border-3 opacity-100">
    <div class="row row-cols-3">
        {% for pet in unavailable_pets %}
        <div class="col">
            <img src="{{pet.photo_url}}" alt="{{pet.name}} picture" class="img-thumbnail rounded border-black border-3">
            <br>
            <span class="fs-3"><a href="/{{pet.id}}">{{pet.name}}</a> is unavailable.</span>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}